body {
  margin: 0;
}

#root {
  position: relative;
  min-height: 100vh;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}
